<!-- Validated Documents -->
<div class="upload-document-container">
    <h2 class="section-title">Vos documents non validés</h2>
    
    <table class="styled-table">
        <thead>
            <tr>
                <th>Nom du fichier</th>
                <th>Date de dépôt</th>
                <th>Motifs de refus</th>
                <th>Date de non validation</th>
                <th>Traité par</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let document of documents">
                <td>{{ document.fileName }}</td>
                <td>{{ document.uploadDate | date:'short' }}</td>

                <td>{{ document.rejectionReason || 'N/A' }}</td>  <!-- New Column for Rejection Reason -->
                <td>{{ document.nonValidationDate ? (document.nonValidationDate | date:'short') : 'N/A' }}</td>
                <td>{{ document.processedBy || 'Not Processed' }}</td> <!-- Update this line -->
                <td class="actions-column">
                    <button 
                    class="btn btn-danger btn-delete" 
                    (click)="deleteDocument(document.id)"
                    title="Delete Document">
                    <i class="fas fa-trash-alt"></i> <!-- Font Awesome trash icon -->
                    Supprimer
                </button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
  