.upload-document-container {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Fredoka', sans-serif; /* Apply Fredoka font here */

}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Fredoka', sans-serif; /* Ensure the font is set for the table */

}

thead {
  background-color: #6f2c91; /* Purple */
  color: white;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1; /* Light grey on hover */
}

.actions-column {
  display: flex; /* Align buttons horizontally */
  justify-content: flex-start; /* Align buttons to the left */
}

.download-button {
  background-color: #6a74df; /* Blue */
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #0a9a4b; /* Darker green */
}

.validate-button {
  background-color: #28a745; /* Green */
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  margin-left: 10px; /* Adds space between buttons */
  border: none;
  cursor: pointer;
}

.validate-button:hover {
  background-color: #218838; /* Darker green */
}

.not-validate-button {
  background-color: #dc3545; /* Red */
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  margin-left: 10px; /* Adds space between buttons */
  border: none;
  cursor: pointer;
}

.not-validate-button:hover {
  background-color: #c82333; /* Darker red */
}

/* waiting-list.component.scss */

.search-bar {
  margin-bottom: 15px;
  display: flex;
  align-items: center;

  label {
    margin-right: 10px;
  }

  select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
}

/* waiting-list.component.scss */

.select-container {
  margin: 20px 0;
}

#userSelect {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px; /* Ajustez la largeur selon vos besoins */
}

.select-label {
  font-weight: bold;
  margin-right: 10px;
}
