<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
          <a href="#" class="d-flex justify-content-center">
            <img src="assets/images/logo-dark.png" />
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Connexion</b></h2>
                <p class="fs-4 mt-2">Entrez vos coordonnées</p>
              </div>
            </div>
          </div>
                    <!-- Error Message Display -->
                    <div *ngIf="error" class="alert alert-danger" role="alert">
                      {{ error }}
                    </div>
          
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" formControlName="email" />
              <label for="floatingInput">Email / Nom d'utilisateur</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="password" formControlName="password" />
              <label for="password">Mot de passe</label>
            </div>
            <div class="d-flex mt-1 justify-content-between">
              <div class="form-check">
                <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" />
              </div>
            </div>
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-secondary" [disabled]="loading">Connectez-vous</button>
            </div>
          </form>
          <hr />
          <h5 class="d-flex justify-content-center">
            <a [routerLink]="['/guest/register']">Vous n'avez pas de compte?</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
