<div class="ms-auto">
  <ul class="list-unstyled">
      <div class="dropdown pc-h-item header-user-profile" ngbDropdown>
        <a
          class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0"
          data-bs-toggle="dropdown"
          href="javascript:"
          ngbDropdownToggle>
          <span>
            <i class="ti ti-settings"></i>
          </span>
        </a>
        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
          <div class="dropdown-header">
            <h4> Bienvenue, <span class="small text-muted" style="font-size: 0.8em;">{{ userName }}</span> </h4>
            <p class="text-muted">Project PFE</p>
            <hr />
            <ng-scrollbar style="height: calc(100vh - 280px)" visibility="hover">
              <hr />
              <hr />
              <a [routerLink]="['/change-password']" class="dropdown-item">
                <i class="ti ti-settings"></i>
                <span>Changer votre mot de passe</span>
              </a>

              <a href="javascript:" (click)="onLogout()" class="dropdown-item">
                <i class="ti ti-logout"></i>
                <span>Déconnexion</span>
              </a>
            </ng-scrollbar>
          </div>
        </div>
      </div>
  </ul>
</div>
